name: CI

on:
  push:
    branches-ignore: [with-actions]
  pull_request:

jobs:
  test:
    runs-on: ubuntu-24.04-arm

    env:
      NODE_ENV: test

    steps:
      - uses: actions/checkout@v4
      - uses: oven-sh/setup-bun@v2
      - uses: actions/setup-node@v4
        with:
          node-version: '20'

      - name: Install dependencies
        run: bun install

      - name: Type check
        run: bun type-check

      - name: Lint
        run: bun lint

      - name: Build
        run: bun run build

      - name: Tests
        run: bun test
